{% extends "../base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}
    Reset Password Confirm
{% endblock title %}
{% block content %}
    {% if validlink %}
        <section class="bg-gray-50 dark:bg-gray-900" id="auth-form">
            <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
                <div class="flex items-center mb-6">
                    <img class="w-20 mr-2 object-cover"
                         src="{% static 'images/digesto_gpt_logo.png' %}"
                         alt="">
                    <span class="text-2xl font-semibold text-gray-900 dark:text-white">Digesto GPT</span>
                </div>
                <!-- Card -->
                <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800">
                    <div class="w-full p-6 sm:p-8">
                        <h2 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">{% trans "Password reset confirmation" %}</h2>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
                        </p>
                        <form class="mt-8 space-y-6" hx-post=".">
                            <input class="hidden"
                                   autocomplete="username"
                                   value="{{ form.user.get_username }}">
                            <div>
                                <label for="password"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    {% trans "Password" %}
                                </label>
                                {% comment %} {% render_field form.password class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" %} {% endcomment %}
                                {% component 'toggle_password_input' %}
                                {% fill "input" %}
                                {% render_field form.new_password1 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" %}
                            {% endfill %}
                        {% endcomponent %}
                        <!-- <input type="password"
        name="password"
        id="password"
        placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required=""> -->
                        {% for error in form.errors.new_password1 %}
                            <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="confirm-password"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {% trans "Confirm password" %}
                        </label>
                        {% comment %} {% render_field form.confirm_password class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" %} {% endcomment %}
                        {% component 'toggle_password_input' %}
                        {% fill "input" %}
                        {% render_field form.new_password2 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" %}
                    {% endfill %}
                {% endcomponent %}
                <!-- <input type="confirm-password"
        name="confirm-password"
        id="confirm-password"
        placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required=""> -->
                {% for error in form.errors.new_password2 %}
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ error }}</p>
                {% endfor %}
            </div>
            {% csrf_token %}
            <button type="submit"
                    class="w-full px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                {% trans "Change my password" %}
            </button>
        </form>
    </div>
</div>
</div>
</section>
{% else %}
<div class="flex flex-col justify-center items-center px-6 mx-auto h-screen xl:px-0 dark:bg-gray-900">
    <div class="text-center xl:max-w-4xl">
        <h1 class="mb-3 text-2xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-5xl dark:text-white">
            {% trans "Something went wrong" %}
        </h1>
        <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        </p>
        <a href="https://mail.google.com/"
           class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-3 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg class="mr-2 -ml-1 w-5 h-5"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd">
                </path>
            </svg>
            {% trans "Go back" %}
        </a>
    </div>
</div>
{% endif %}
{% endblock content %}
