{% load i18n %}
<div id="page-content"
     {% if use_oob %}hx-swap-oob="true"{% endif %}
     class="border-gray-200 dark:border-gray-700"
     hx-history-elt>
    <section class="fixed top-0 left-0 right-0 bottom-0 sm:ml-64 mt-14 bg-gray-50 dark:bg-gray-900 flex flex-col">
        <div class="flex-grow flex flex-col" hx-ext="ws" ws-connect="/ws/chat/">
            <div id="message-list"
                 class="block overflow-x-auto overflow-y-auto flex-grow h-[50vh]">
                {% for message in messages %}
                    {% include "chats/message_item.html" %}
                {% endfor %}
            </div>
            <form id="chat-form" ws-send>
                <label for="chat-textarea" class="sr-only">Your message</label>
                <div class="flex items-center px-3 py-2  bg-gray-50 dark:bg-gray-700">
                    <input name="message"
                           id="chat-textarea"
                           type="text"
                           rows="1"
                           class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="{% trans "Write a query..." %}" />
                    <button type="submit"
                            class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600"
                            onclick="removeSidebarHighlightButton()">
                        <svg class="w-5 h-5 rotate-90 rtl:-rotate-90"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             viewBox="0 0 18 20">
                            <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
                        </svg>
                        <span class="sr-only">Send message</span>
                    </button>
                </div>
            </form>
        </div>
        <script>
        function scrollToBottom() {
            const messagesListDiv = document.getElementById("message-list")

            if (messagesListDiv) {
                requestAnimationFrame(() => {
                    messagesListDiv.scrollTop = messagesListDiv.scrollHeight;
                });
            }
        }
        // scroll to bottom when reloading page
        window.addEventListener("DOMContentLoaded", scrollToBottom)
        // scroll to bottom after out of band swap
        window.addEventListener("htmx:oobAfterSwap", scrollToBottom)
        // scroll to bottom after swap
        window.addEventListener("htmx:afterSwap", scrollToBottom)
        // reset input after sending message
        document.getElementById("chat-form").addEventListener("htmx:wsAfterSend", function (event) {
            this.reset();
        });
        </script>
    </section>
</div>
