{% load tailwind_tags %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="A brief and concise description of your webpage content goes here.">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% tailwind_css %}
        {% component_css_dependencies %}
        <script src="{% static 'js/htmx/htmx.min.js' %}"></script>
        <script src="{% static 'js/htmx/ws.min.js' %}"></script>
        <script src="{% url 'javascript-catalog' %}"></script>
    </head>
    <body hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}"
          class="dark:bg-gray-900">
        {% block content %}
        {% endblock content %}
        {% component 'toast_notifications' messages=none %}{% endcomponent %}
        <script>
          document.body.addEventListener('htmx:afterSwap', (event) => {
            // Reinitialize Flowbite after swapping an element
            window.initFlowbite();
          });
          document.body.addEventListener('htmx:historyRestore', function(evt) {
            // Reinitialize Flowbite when using back/forward navigation
            window.initFlowbite();
          });
          document.body.addEventListener('htmx:wsBeforeMessage', function(event) {
                // Reinitialize Flowbite when using back/forward navigation
            try {
            // Try to parse the string into a JSON object
              const parsedJson = JSON.parse(event.detail.message);

            // Check if the key exists in the parsed JSON object
                if ("Hx-New-URL" in parsedJson) {
                    // htmx.trigger()
                    const url = new URL(parsedJson["Hx-New-URL"])
                    history.pushState({}, "", url) ;
                } else {
                    return false;  // JSON is valid, but does not contain the key
                }
            } catch (error) {
                // If an error occurs, it's not a valid JSON
                return false;
            }

          });
        </script>
        <script>
          function removeSidebarHighlightButton() {
            document.querySelectorAll('a.bg-gray-100.dark\\:bg-gray-700').forEach(btn => btn.classList.remove('bg-gray-100', 'dark:bg-gray-700'));
          }

          function highlightButton(button) {
            // Remove 'selected' class from all buttons
            removeSidebarHighlightButton();
            // Add 'selected' class to the clicked button
            button.classList.add('bg-gray-100', 'dark:bg-gray-700');
          }
          window.addEventListener('htmx:historyRestore', (event) => {
            currentURL = new URL(window.location.href);
            buttonId = currentURL.pathname.replaceAll('/', '');
            if (buttonId == '') {
              buttonId = 'chat-section';
            }
            currentButtom = document.getElementById(buttonId);
            highlightButton(currentButtom);
          });

        </script>
        <script src="{% static 'flowbite/dist/flowbite.min.js' %}"></script>
        <script src="{% static 'apexcharts/dist/apexcharts.min.js' %}"></script>
        <script src="{% static 'idiomorph/dist/idiomorph.min.js' %}"></script>
        {% component_js_dependencies %}
    </body>
</html>
